DEBUG = True

SECRET_KEY = 'something'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'trente',
        'HOST': '127.0.0.1',
        'USER': 'trente',
        'PASSWORD': 'trente',
    }
}
