.catalog {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

.release {
    display: flex;
    margin: 1rem 0;
}

.release__cover {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.release__info {
    padding: 0 1rem;

    h2, h3 {
        font-weight: 400;
        margin: 0;
        font-size: 1rem;
    }

    h2 {
        text-transform: lowercase;
        margin-bottom: 1rem;
    }

    h3 {
        text-transform: uppercase;
    }
}

.tracks {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    list-style-type: none;

    li {
        margin: 0;
        padding: 0.25rem 0;
        display: flex;
        justify-content: space-between;

        p {
            font-size: 1rem;
            padding-right: 1rem;
        }
    }
}
