{% extends "trente/base.html" %}

{% block content %}
    <ul class="catalog">
        {% for release in releases %}
        {% if release.published %}
        <li class="release">
            {% if release.cover %}
                <img class="release__cover" src="{{ release.cover.url }}" />
            {% endif %}

            <div class="release__info">
                {% if release.artist %}
                <h2>{{ release.artist.name }}</h2>
                {% endif %}

                {% if release.band %}
                <h2>{{ release.band.name }}</h2>
                {% endif %}

                <h3>{{ release.title }} <span>{{ release.catalog_id }}</span></h3>

                {% if release.embed %}{{ release.embed }}{% endif %}

                <ol class="tracks">
                    {% for track in release.track_set.all %}
                    <li>
                        <p>{{ track.name }}</p>
                        <p>{{ track.length }}</p>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
